@media (min-width: 1128px) {
  .hb_width {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  .card {
    padding-left: 24px;
    padding-right: 24px;
    border:0;
  }
}

@media (min-width: 744px) and (max-width: 1127.5px){
  .hb_width {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }
  .card {
    padding-left: 12px;
    padding-right: 12px;
    border:0;
  }
}

@media (min-width: 0px) and (max-width: 743.5px){
  .hb_width {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .card {
    padding-left: 8px;
    padding-right: 8px;
    border:0;
  }
}

.home-body {
  padding-top: 60px;
 
}




// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }